
@{
    ViewBag.Title = "Hizmetlerimiz";
}

<div class="site-blocks-cover inner-page" style="background-image: url(/images/hizmetlerimizbanner.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <span class="sub-text">Auto Bentley</span>
                <h1><strong>HİZMETLERİMİZ</strong></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2" style="background-image: url('/images/hizmetlerimiz1.jpg');" data-aos="fade-up"></div>
                    <div class="col-md-6 pr-md-5 order-md-1">
                        
                        <p>Tüm marka ve modellerde araçlarınızın arızaları mümkün olan en kısa sürede ve en güvenli şekilde çözülür.</p>
                            
                        <p>Servisimize getirdiğiniz aracı öncelikle check-up'tan geçiriyor,sorunu tespit ediyor ve çözüm yöntemleri geliştiriyoruz.Gerekirse yedek parça temin edilmesi gerektiği bilgisini sizlerle paylaşıyoruz.</p>   

                        <p>Müşterilerimizin daha kusursuz sürüş deneyimleri için gereken periyodik araç bakımları hakkında bilgilendiriyor, periyodik bakımların ve tamir işlemlerinin her basamağında sizlere yardımcı oluyoruz.</p>
             
                        <p><b>Bahçelievler Bentley Oto Servis</b>'de</p>
                        <ul class="site-block-check">
                            <li>Periyodik bakım</li>
                            <li>Oto kaporta</li>
                            <li>Oto boya</li>
                            <li>Oto Elektrik</li>
                            <li>Jant ve lastik</li>
                            <li>Rot ve Balans</li>
                            <li>Hasar Onarımı</li>
                            <li>Parça değişimi</li>
                        </ul>
                        <p>Konularında sizlere hizmet vermekteyiz</p>
                        <p><a href="#" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Hemen Arayın !</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


